{% extends "page.html.twig" %}

{% block content %}
  <div class="layout-container">
    <main role="main" class="main-content">
      <a id="main-content" tabindex="-1"></a>
      <div class="message-box">
        {{ qe_410_markup }}
      </div>
    </main>
  </div>
{% endblock %}
